.expenses {
    text-align: left;
    width: 100%;
    margin: 20px auto;

    
    .header {
        text-transform: uppercase;
        color: #D8DDE3;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        div {
            width: 100%;
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #A7AAAE;

        div {
            text-align: left;
            width: 100%;
            margin: 10px 0;
            padding-bottom: 5px;
        }
    }
}

.form__wrapper {
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
    input {
        border: none;
        border-bottom: 1px solid #A7AAAE;

        &:focus {
            outline: none;
        }
    }
    input,
    select {
        font-size: 18px;
        margin-right: 10px;
    }
}

